# ------------------------ GENERAL SPT IGNORES ---------------------------------------------

# Top level file ignores
/*.txt
/*.log
/*.exe
ConsistencyInfo

# Ignore these folders pretty much always. Change to <directory>/* if selective include is needed within
EscapeFromTarkov_Data/
Logs/
MonoBleedingEdge/
NLog/
SPT_Data/
BattlEye/

# Ignore files beyond the top level
*.map
*.log

# Selective ignores
user/*

# Include all mods
!user/mods/

# May be needed to allow user PC to handle additional client side mods
user/mods/order.json

# Ignore used to selectively update config.json
user/launcher/config.json

# Ignore stat track data
BepInEx/plugins/acidphantasm-stattrack/*.json

# BEPINEX selective ignore
BepinEx/*

# Ignore bepin default spt plugin, but include bepinex plugins
!BepinEx/plugins/

# Add bepinex configs (Mods store config data here)
!BepInEx/config/

# FIKA
!BepInEx/plugins/Fika.Core.dll
user/mods/fika-server/

# ------------------------ Add additional adjustments below ---------------------------------------------
