# ------------------------ GENERAL SPT IGNORES ---------------------------------------------

# Top level file ignores
/*.txt
/*.log
/*.exe
ConsistencyInfo

# Ignore these folders pretty much always. Change to <directory>/* if selective include is needed within
EscapeFromTarkov_Data/
Logs/
MonoBleedingEdge/
NLog/
SPT_Data/
BattlEye/

# Ignore files beyond the top level
*.map
*.log

# Ignore the user folder ecept for the mods folder
user/*
!user/mods/

# Ignore stat track data
BepInEx/plugins/acidphantasm-stattrack/*.json

# Ignore the BepInEx cache folder
BepInEx/cache/*

# Ignore FIKA server files
user/mods/fika-server/

# Ignore FIKA dedicated files
Start_dedicated_*
BepInEx/config/com.fika.dedicated.cfg
BepInEx/plugins/Fika.Dedicated.dll

# ------------------------ Add additional adjustments below ---------------------------------------------
