## Settings file was created by plugin Loot Highlighter v0.1.0
## Plugin GUID: com.karmaMGL.loothighlight

[Categories]

## Highlight items
# Setting type: Boolean
# Default value: true
EnableItems = true

## Highlight containers
# Setting type: Boolean
# Default value: true
EnableContainers = true

## Highlight corpses
# Setting type: Boolean
# Default value: true
EnableCorpses = true

[Colors]

## Default color for items
# Setting type: Color
# Default value: FFEB04FF
ItemColor = FFEB04FF

## Default color for containers
# Setting type: Color
# Default value: 00FF00FF
ContainerColor = 00FF00FF

## Default color for corpses
# Setting type: Color
# Default value: FF0000FF
CorpseColor = FF0000FF

[General]

## Radius to detect loot
# Setting type: Single
# Default value: 10
DetectionRadius = 1

## Time between scans (seconds)
# Setting type: Single
# Default value: 0.5
RefreshInterval = 0.5

## Show distance on labels
# Setting type: Boolean
# Default value: false
ShowDistanceInLabel = false

