## Settings file was created by plugin TaskAutomation v0.5.1
## Plugin GUID: com.KnotScripts.TaskAutomation

[Automation]

## Automatically accept quests.
# Setting type: Boolean
# Default value: true
AutoAcceptQuests = true

## Automatically accept BTR quests out of raid.
# Setting type: Boolean
# Default value: false
AcceptBTROutOfRaid = false

## Automatically accept Light Keeper quests out of raid.
# Setting type: Boolean
# Default value: false
AcceptLightKeeperOutOfRaid = false

## Automatically complete quests.
# Setting type: Boolean
# Default value: true
AutoCompleteQuests = true

## Automatically handover find in raid items.
# Setting type: Boolean
# Default value: true
AutoFindInRaid = true

## Automatically handover find and obtain items.
# Setting type: Boolean
# Default value: true
AutoFindAndObtain = true

## Automatically restart failed quests.
# Setting type: Boolean
# Default value: true
AutoRestartFailedQuests = true

## Automatically accept quests that are that can fail.
# Setting type: Boolean
# Default value: false
AutoAcceptQuestsThatCanFail = false

[General]

## Debug
# Setting type: Boolean
# Default value: false
Debug = false

[Skipper]

## Skip finding items in raid quest conditions.
# Setting type: Boolean
# Default value: false
SkipFindInRaid = false

## Skip find and obtain quest conditions.
# Setting type: Boolean
# Default value: false
SkipFindAndObtain = false

## Skip leave item at location quest conditions.
# Setting type: Boolean
# Default value: false
SkipLeaveItemAtLocation = false

## Skip leave item at location quest conditions.
# Setting type: Boolean
# Default value: false
SkipVisitPlace = false

## Skip place beacon quest conditions.
# Setting type: Boolean
# Default value: false
SkipPlaceBeacon = false

## Skip weapon assembly quest conditions.
# Setting type: Boolean
# Default value: false
SkipWeaponAssembly = false

## Skip trader loyalty quest conditions.
# Setting type: Boolean
# Default value: false
SkipTraderLoyalty = false

## Skip skill level quest conditions.
# Setting type: Boolean
# Default value: false
SkipSkill = false

## Skip sell items to traders quest conditions.
# Setting type: Boolean
# Default value: false
SkipSellItemToTrader = false

## Skip survive and extract quest conditions.
# Setting type: Boolean
# Default value: false
SkipSurviveAndExtract = false

## Skip elimination quest conditions.
# Setting type: Boolean
# Default value: false
SkipElimination = false

