## Settings file was created by plugin doordash v1.0.0
## Plugin GUID: com.tarkin.doordash

[]

# Setting type: Boolean
# Default value: true
Enabled = false

[Physical Door]

# Setting type: Single
# Default value: 0.01
Chance To Dislodge On Breach = 0.01

# Setting type: Single
# Default value: 10
Dislodge Force = 10

# Setting type: Single
# Default value: 100
Player Collision Damage = 100

[Sprint Ram]

# Setting type: Single
# Default value: 20
Velocity Threshold = 20

# Setting type: Single
# Default value: 0.7
Ray Distance = 0.7

